/* footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(114, 165, 80);
    color: rgb(0, 0, 0);
    text-align: center;
  } */

  body {
    /* background-color: linear-gradient(rgb(93, 177, 255), rgb(158, 231, 255)); */
    background-color: #6eadff;

  }

  /* img { */
    /* display: block;
    max-width: 100%;
    height: auto; */
    /* background-color: #6eadff; */
    /* object-fit: contain; */

  /* } */